APOLLO_API_KEY=
DEFAULT_EMPLOYEE_PASSWORD=
FRONTEND_URL=
GEMINI_API_KEY=
JWT_SECRET=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
SECRET_KEY=
VITE_API_URL=
VITE_BASE_PATH=
VITE_DEFAULT_EMPLOYEE_PASSWORD=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=